
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-image: url(../../Images/brown512.png);"><canvas id="board" width="512" height="512"></canvas></div>

    @using (Ajax.BeginForm("ShowBoard", new AjaxOptions { OnSuccess = "OnSuccess" }))
    {
        <input type="submit" value="Show board" />
    }
    <br />
    <div id="results"></div>

    @Ajax.ActionLink("Play for white", "PlayWhite", null);

    @Ajax.ActionLink("Play for black", "PlayBlack", null);

    <script type="text/javascript">
        function OnSuccess(data) {
            var b_canvas = document.getElementById("board");
            b_canvas.width = 512;
            var b_context = b_canvas.getContext("2d");

            var x = 0;
            var y = 0;


            for (var i = 0; i < data.curState.length; i++) {
                if (data.curState[i] == 0) continue;
                else if (data.curState[i] == 1) b_context.fillStyle = "#EEEEEE";
                else if (data.curState[i] == 2) b_context.fillStyle = "#111111";

                x = i % 8;
                //y = parseInt(i / 8);

                y = (i / 8 | 0);

                b_context.fillRect(x * 64, y * 64, 64, 64);
            }

            b_context.fillStyle = "#0000AA";
            b_context.fillRect((7 - data.curHint.moveFrom.x) * 64, data.curHint.moveFrom.y * 64, 64, 64);
            b_context.fillRect((7 - data.curHint.moveTo.x) * 64, data.curHint.moveTo.y * 64, 64, 64);

        }
    </script>

</body>

</html>
